@media screen and (min-width: 980px) {
    #menu{
        justify-content: center;
    }

    nav{
        display: flex;
        position: static;
        width: auto;
        height: auto;
        background-color: #fff;
    }

    #hamburguer{
        display: none;
    }

    #menu nav ul {
        display: flex;
    }

    #menu nav ul li a {
        color: #000;
        font-size: 16px;

    }

    #veiculos{
        height: 600px;
        gap: 10px;
        padding: 10px;
    }

    #servicos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .servico{
        text-align: center;
        justify-content: center;
    }

    .texto-1, .texto-2{
        height: 200px;
        width: 500px;
    }

    #produtos{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0px 20px;
    }

    .marcas{
        height: 300px;
        gap: 5px;
    }

    .marcas picture {
        height: 90%;
        display: flex;
    }

    #sobre {
        margin: auto;
        width: 80%;
        text-align: center;
    }

    #sobre img {
        width: 30%;
    }

    #sobre p {
        width: 70%;
        margin: auto;
    }

    #formulario form fieldset {
        padding: 3rem 5rem;
        width: 50%;
    }

    #maps {
        width: 800px;
        height: 500px;
        margin: auto;
    }

    footer{
        justify-content: space-evenly;
    }

}